@use '../base/functions' as fun;
@use '../base/mixin' as mix;

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .block-animation{
        display: flex;
        span{
            color: fun.color('white');
        }
    }
    article{
        display: flex;
        gap: 30px;
        position: relative;
        h1,h3,h2{
            display: flex;
            align-items: center;
        }
        &:first-child{
            left: -180px;
            h1{
                font-size: 5.5vw;
                font-style: italic;
                span{
                    font-weight: 800;
                }
            }
            h2{
                font-size: 5.5vw;
                span{
                    font-weight: 800;
                }
            }
        }
        &:nth-child(2){
            h3{
                font-size: 5.6vw;
                span{
                    font-weight: 500;
                }
            }
        }
        &:last-child{
            h3{
                font-size: 5.6vw;
                &.globs{
                    font-size: 4.5vw;
                }
                &:last-child{
                    position: relative;
                    &::before{
                        position: absolute;
                        content: "";
                        background-color: fun.color('primary');
                        height: 100%;
                        top: 0;
                        right: -5%;
                        width: 0;
                        transition: .5s ease all;
                        transition-delay: 1s;
                    }
                }
            }
        }
    }
}

.home-line{
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 55vh;
    max-width: 100%;
    svg{
        width: 100%;
        max-width: 100%;
    }
}

@media(max-width: fun.breakpoints('ipad-big')){
    .home{
        article{
            &:first-child{
                h1{
                    font-size: 4.5rem;
                }
                h2{
                    font-size: 4.5rem;
                }
            }
            &:nth-child(2){
                h3{
                    font-size: 4.6rem;
                }
            }
            &:last-child{
                h3{
                    font-size: 4.6rem;
                    &.globs{
                        font-size: 4rem;
                    }
                }
            }
        }
    }
}

@media(max-width: fun.breakpoints('ipad-small')){
    .home{
        min-height: 400px;
        article{
            gap: 10px;
            &:first-child{
                left: -40px;
                h1{
                    font-size: 3rem;
                }
                h2{
                    font-size: 3rem;
                }
            }
            &:nth-child(2){
                h3{
                    font-size: 2.5rem;
                }
            }
            &:last-child{
                h3{
                    font-size: 3.1rem;
                    &.globs{
                        font-size: 2rem;
                    }
                }
            }
        }
    }
    .home-line{
        top: 10vh;
    }
}