@use '../base/functions' as fun;
@use '../base/mixin' as mix;

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .block-animation{
        display: flex;
        span{
            color: fun.color('white');
        }
    }
    article{
        display: flex;
        gap: 30px;
        position: relative;
        h1,h3,h2{
            display: flex;
            align-items: center;
        }
        &:first-child{
            left: -180px;
            h1{
                font-size: 5.5vw;
                font-style: italic;
                span{
                    color: transparent;
                    -webkit-text-stroke-width: 2px;
                    -webkit-text-stroke-color: #FFF;
                    font-weight: 700;
                }
            }
            h2{
                font-size: 5.5vw;
                span{
                    font-weight: 800;
                }
            }
        }
        &:nth-child(2){
            h3{
                font-size: 5.6vw;
                span{
                    font-weight: 500;
                }
            }
        }
        &:last-child{
            h3{
                font-size: 5.6vw;
                &.globs{
                    font-size: 4.5vw;
                }
                &:last-child{
                    position: relative;
                    &::before{
                        position: absolute;
                        content: "";
                        background-color: fun.color('primary');
                        height: 100%;
                        top: 0;
                        right: -5%;
                        width: 0;
                        transition: .5s ease all;
                        transition-delay: 1s;
                    }
                }
            }
        }
    }
}

.home-certified{
    position: absolute;
    width: 5vw;
    right: 10%;
    top: 3.5%;
    img{
        width: 100%;
    }
}

.home-line{
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 55vh;
    max-width: 100%;
    svg{
        width: 100%;
        max-width: 100%;
    }
    &--relative{
        position: relative;
        top: 0;
        margin-top: 5%;
        margin-bottom: -5%;
    }
}

.home-planet{
    padding: 20vh 0;
    display: flex;
    align-items: center;
    gap: 60px;
    h5{
        display: flex;
        flex-wrap: wrap;
        font-size: 2.5vw;
        span{
            color: fun.color('white');
        }
    }
    article{
        &:first-child{
            width: 35%;
        }
        &:last-child{
            width: 65%;
            h5{
                max-width: 40vw;
            }
        }
    }
}

.home-alert{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40vh 0;
    max-width: 100%;
    overflow: hidden;
    article{
        &:first-child{
            height: 10px;
            position: absolute;
            left: -32.5vw;
            display: flex;
            justify-content: center;
            align-items: center;
            &::before{
                content: "";
                position: absolute;
                width: 35vw;
                height: 30vw;
                border: 2px solid fun.color('white');
                left: 50%;
                border-radius: 0 50% 0 0;
            }
        }
        &:last-child{
            position: relative;
            z-index: 1;
        }
        h4{
            color: fun.color('white');
            font-size: 5vw;
            position: relative;
            padding: 0 10px;
            background-color: fun.color('black');
            line-height: 1;
            display: flex;
            gap: 2vw;
           .lines::before,
           .lines::after,
            &::before,
            &::after{
                background-color: fun.color('white');
                content: "";
                position: absolute;
            }
            &::before,
            &::after{
                width: 100%;
                height: 2px;
                left: 0;
            }
            &::after{
                top: 0;
            }
            &::before{
                bottom: 0;
            }
           .lines::before,
           .lines::after{
                height: 100%;
                width: 2px;
                top: 0;
            }
           .lines::before{
                left: 0;
            }
           .lines::after{
                right: 0;
            }
            .line-point{
                position: absolute;
                left: 100%;
                width: 10vw;
                top: calc(50% - 1px);
                &::before, 
                &::after,
                b::before,
                b::after{
                    position: absolute;
                    content: "";
                    background-color: fun.color('white');
                    width: 10vw;
                    height: 2px;
                    right: 0;
                    top: 0;
                }
                &::after{
                    top: 5vw;
                    width: 5vw;
                }
                b{
                    &::before{
                        height: 5vw;
                        width: 2px;
                    }
                    &::after{
                        position: absolute;
                        content: "";
                        width: .5vw;
                        height: .5vw;
                        background-color: fun.color('white');
                        top: 4.75vw;
                        right: 5vw;
                        transform: rotate(45deg);
                    }
                }
            }
        }
        #canvas{
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            canvas{
                width: 100% !important;
                height: 100% !important;
            }
        }
    }
}

.home-limitless{
    padding: 10vh 0 20vh 0;
    article{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5vw;
        h6{
            color: fun.color('primary');
            text-align: center;
            font-size: 2.8vw;
            display: flex;
            gap: 10px;
            span{
                font-weight: 600;
            }
            &:last-child{
                color: fun.color('black');
                position: relative;
                z-index: 1;
                &::before{
                    position: absolute;
                    content: "";
                    left: -2.5%;
                    width: 105%;
                    height: 100%;
                    background-color: fun.color('primary');
                    z-index: -1;
                }
            }
        } 
    }
}

.home-effective{
    position: relative;
    padding: 20vh 0;
    article{
        &:first-child{
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 20px;
            right: 0;
            top: -15vh;
            picture{
                display: block;
                width: 6vw;
            }
            img{
                width: 100%;
            }
            em{
                position: absolute;
                top:100%;
                display: flex;
                justify-content: center;
                width: 100%;
                &::before,
                &::after{
                    content: "";
                    position: absolute;
                    height: 10vw;
                    width: 2px;
                    background-color: fun.color('white');
                    top: 0;
                }
                &::after{
                    top: 10vw;
                    height: 2px;
                    width: 6vw;
                    margin-right: 4vw;
                }
                b{
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                    background-color: fun.color('white');
                    top: calc(10vw - 5px);
                    right: 1.5vw;
                }
            }
        }
        &:nth-child(2){
            display: flex;
            width: 100%;
            max-width: calc(100% - 8vw);
            gap: 60px;
            h2,h3,h4{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                gap: 30px;
            }
            h2{
                font-size: 5.4vw;
                color: #fff;
                text-align: center;
                text-transform: uppercase;
                font-style: italic;
                span{
                    font-weight: 700;
                }
            }
            h3{
                font-size: 3.25vw;
                color: transparent;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: fun.color('white');
                gap: 0 10px;
                span{
                    font-weight: 700;
                }
            }
            h4{
                font-size: 2vw;
                color: fun.color('white');
                gap: 10px;
                b{
                    font-weight: 600;
                }
            }
            .block{
                &:last-child{
                    min-width: 25vw;
                }
                picture{
                    width: 100%;
                    display: flex;
                    img{
                        width: 100%;
                    }
                }
            }
        }
        &:nth-child(3){
            display: flex;
            max-width: calc(100% - 8vw);
            gap: 10px;
            border: 2px solid fun.color('white');
            margin-top: 20px;
            position: relative;
            z-index: 1;
            .item{
                width: 100%;
                picture{
                    display: flex;
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
            }
        }
        &:last-child{
            position: relative;
            max-width: calc(100% - 8vw);
            picture{
                display: block;
                position: absolute;
                right: 0;
                width: 25vw;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                border: 2px solid fun.color('white');
                height: 42.5vw;
                top: -30.5vw;
                border-radius: 400.612px;
                img{
                    width: 6vw;
                    margin-bottom: 2vw;
                }
            }
        }
    }
}

.home-grid{
    padding: 20vh 0;
    article{
        &:first-child{
            .animation-tx-reveal{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .5vw;
            }
            h2{
                font-size: 3vw;
                color: fun.color('white');
                text-align: center;
                text-transform: uppercase;
                font-style: italic;
                span{
                    font-weight: 700;
                }
            }
            h3{
                color: fun.color('white');
                text-align: center;
                font-size: 2.5vw;
                b{
                    color: fun.color('primary');
                }
            }
        }
        &:last-child{
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            margin-top: 40px;
            .item{
                flex: 1 calc(25% - 90px); 
                max-width: 300px;
                min-width: 250px;
                position: relative;
                overflow: hidden;
                &:hover{
                    .hovered{
                        opacity: 1;
                    }
                }
                &.disabled{
                    display: none;
                }
            }
            picture{
                width: 100%;
                display: block;
                position: relative;
                overflow: hidden;
                border: 2px solid fun.color('white');
                img{
                    width: 100%;
                    object-fit: cover;
                    transition: 10s ease transform;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
            #show-more{
                width: 100%;
                text-align: center;
                display: flex;
                justify-content: center;
                margin-top: 20px;
                align-items: center;
                gap: 15px;
                cursor: pointer;
                p{
                    border-bottom: 2px solid fun.color('tertiary');
                    width: fit-content;
                    color: fun.color('tertiary');
                    font-size: 2.8rem;
                }
                img{
                    width: 30px;
                }
            }
            .hovered{
                position: absolute;
                top: 0;
                left: 0;
                z-index: 9;
                background-color: fun.color('black');
                height: 100%;
                width: 100%;
                border: 2px solid fun.color('white');
                overflow: hidden;
                display: flex;
                flex-direction: column;
                transition: .5s ease opacity;
                opacity: 0;
                picture{
                    border: none;
                    height: 100%;
                    border-bottom: 2px solid fun.color('white');
                    img{
                        border: 3px solid fun.color('white');
                        border-left: none;
                        border-top-right-radius: 100px;       
                        top: -5px;
                        position: relative;   
                        width: calc(100% + 10px);              
                        height: calc(100% + 10px);
                        &:hover{
                            transform: none;   
                        }
                    }
                }
                .container{
                    position: relative;
                    height: 55%;
                }
                .categories{
                    position: absolute;
                    bottom: 0;
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 10px 20px;
                    width: 100%;
                    img{
                        width: 50px;
                    }
                    .block{
                        display: flex;
                        gap: 10px;
                    }
                }
                .content{
                    position: relative;
                    overflow: auto;
                    padding: 10px 20px 20px;
                    height: 45%;
                }
                h5,p{
                    color: fun.color('white');
                    font-family: 'Signo';
                }
                h5{
                    font-size: 2rem;
                    margin-bottom: 5px;
                }
                p{
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.home-team{
    padding: 20vh 0;
    article{
        &:first-child{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: fit-content;
            margin: auto;
            left: 5vw;
            picture{
                position: absolute;
                display: block;
                width: 20vw;
                left: -25%;
                bottom: -2.5%;
                &::before{
                    position: absolute;
                    content: "";
                    border-radius: 32px 0px 0px 0px;
                    background: rgba(47, 47, 47, 0.60);
                    backdrop-filter: blur(2px);
                    width: 80%;
                    height: 90%;
                    right: -10%;
                    bottom: 0;
                    z-index: 9;
                }
                img{
                    width: 100%;
                }
            }
            h2,h4{
                position: relative;
                z-index: 10;
                margin-left: 20px;
                text-align: center;
                display: flex;
                justify-content: center;
                gap: 0 10px;
                flex-wrap: wrap;
            }
            h2 {
                font-size: 3vw;
                font-weight: 300;
                color: fun.color('white');
            }
            h4{
                font-size: 2vw;
                color: fun.color('white');
                b{
                    color: fun.color('secondary');
                }
                strong{
                    color: fun.color('black');
                    position: relative;
                    padding: 0 10px;
                    &::before{
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 100%;
                        background-color: fun.color('primary');
                        left: 0;
                        top: 0;
                        z-index: -1;
                    }   
                }
            }
            div{
                padding: 20px 60px 40px 20px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                em{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border: 2px solid fun.color('white');
                    border-radius: 0 60px 0 0;
                }
            }
        }
    }
    article{
        &:last-child{
            display: flex;
            position: relative;
            z-index: 9;
            top: -30px;
            margin: 0 auto;
            width: 825px;
            height: 125px;
            overflow: hidden;
            picture{
                width: 125px;
                height: 125px;
                border-radius: 100px;
                border: 2px solid fun.color('white');
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                position: absolute;
                margin: auto;
                margin-left: var(--left);
                &::before{
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    filter: blur(2px);
                }
                img{
                    width: 100%;
                    opacity: 0;
                    transition: .5s ease opacity;
                    cursor: pointer;
                }
                &:hover{
                    img{
                        opacity: 1;
                        z-index: 9;
                    }
                }
            }
            p{
                color: fun.color('white');
                position: absolute;
                bottom: -170px;
                font-size: 1.4rem;
                right: 0;
                max-width: 100px;
                text-align: right;
            }
        }
    }
}


.home-categories{
    padding: 20vh 0;
    article{
        &:first-child{
            position: relative;
            padding: 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 80px;
            &::before,
            &::after{
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background:  linear-gradient(90deg, #9EFF00 19.27%, #00F0FF 47.92%, #9747FF 73.96%, #FF00B8 100%);
            }
            &::before{
                top: 0;
            }
            &::after{
                bottom: 0;
            }
            h3{
                font-size: 2vw;
                text-align: center;
                color: fun.color('white');
                display: flex;
                gap: 7.5px;
            }
        }
        &:nth-child(2){
            &.ctn{
                max-width: 1200px;
            }
            picture{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 100%;
                }
            }
        }
        &:last-child{
            display: flex;
            flex-wrap: wrap;
            padding-top: 80px;
            gap: 100px 50px;
            position: relative;
            align-items: center;
            &::before{
                content: "";
                width: 100%;
                height: 2px;
                position: absolute;
                background-color: fun.color('white');
                left: 0;
                margin-top: 20px;
            }
            .item{
                flex: 1 22%;
                display: flex;
                gap: 20px;
            }
            picture{
                width: 100%;
                max-width: 90px;
                display: block;
                img{
                    width: 100%;
                }
            }
            h4{
                font-size: 2rem;
            }
            p{
                margin: 5px 0;
            }
            h4, p, a{
                font-family: 'Signo';
            }
            p, a{
                font-size: 1.5rem;
            }
            p,h4{
                color: fun.color('white');
            }
            a{
                color: fun.color('secondary');
            }
        }
    }
}


@media(max-width: fun.breakpoints('desktop')){
    .home-effective{
        article{
            &:last-child{
                picture{
                    top: -32vw;
                }
            }
        }
    }
}

@media(max-width: fun.breakpoints('ipad-big')){
    .home{
        article{
            &:first-child{
                h1{
                    font-size: 4.5rem;
                }
                h2{
                    font-size: 4.5rem;
                }
            }
            &:nth-child(2){
                h3{
                    font-size: 4.6rem;
                }
            }
            &:last-child{
                h3{
                    font-size: 4.6rem;
                    &.globs{
                        font-size: 4rem;
                    }
                }
            }
        }
    }
    .home-certified{
        width: 50px;
        right: 5%;
        top: 60px;
    }
    .home-alert{
        padding: 300px 0;
        article{
            &:first-child{
                left: unset;
                &::before{
                    display: none;
                }
            }
            h4{
                font-size: 5rem;
            }
        }
    }
    .home-limitless{
        padding: 60px 0 120px 0;
        article{
            gap: 10px;
            h6{
                font-size: 2.2rem;
            } 
        }
    }
    .home-grid{
        padding: 60px 0;
        article{
            &:first-child{
                h2{
                    font-size: 3rem;
                }
                h3{
                    font-size: 2.5rem;
                }
            }
            &:last-child{
                .hovered{
                    opacity: 1;
                    h5{
                        font-size: 1.8rem;
                    }
                    p{
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    .home-effective{
        padding: 120px 0;
        article{
            &:nth-child(3){
                .item{
                    &:last-child{
                        display: none;
                    }
                }
            }
        }
    }
    .home-team{
        padding: 60px 0;
        article{
            &:first-child{
                left: 0;
                width: 100%;
                em{
                    left: 0;
                    top: 0;
                }
                picture{
                    left: 0;
                    height: 100%;
                    top: 0;
                    img{
                        object-fit: cover;
                        height: 100%;
                    }
                }
                div{
                    padding: 20px 0;
                }
                h2,h4{
                    margin-left: 0;
                    gap: 0 5px;
                }
                h2{
                    font-size: 3rem;
                }
                h4{
                    font-size: 2.5rem;
                }
            }
            &:last-child{
                top: -10px;
                overflow-x: auto;
                width: 100%;
                max-width: 800px;
                p{
                    display: none;
                }
            }
        }
    }
    .home-categories{
        padding: 60px 0;
        article{
            &:first-child{
                padding: 15px 0;
                margin-bottom: 50px;
                h3{
                    font-size: 2.5rem;
                    gap: 5px;
                }
            }
            &:last-child{
                gap: 30px;
                padding-top: 60px;
                &::before{
                    content: none;
                }
                .item{
                    flex: 1 100%;
                }
            }
        }
    }
}

@media(max-width: fun.breakpoints('ipad-small')){
    .home{
        min-height: 400px;
        article{
            gap: 10px;
            &:first-child{
                left: -40px;
                h1{
                    font-size: 3rem;
                }
                h2{
                    font-size: 3rem;
                }
            }
            &:nth-child(2){
                h3{
                    font-size: 2.5rem;
                }
            }
            &:last-child{
                h3{
                    font-size: 3.1rem;
                    &.globs{
                        font-size: 2rem;
                    }
                }
            }
        }
    }
    .home-line{
        top: 10vh;
        &--relative{
            top: 0;
            margin-top: -25%;
            margin-bottom: -25%;
        }
    }
    .home-planet{
        gap: 30px;
        padding: 120px 0 0 0;
        h5{
            font-size: 1.7rem;
        }
        article{
            &:first-child{
                width: 40%;
            }
            &:last-child{
                width: 60%;
                h5{
                    max-width: 100%;
                }
            }
        }
    }
    .home-alert{
        article{
            h4{
                font-size: 3rem;
            }
        }
    }
    .home-limitless{
        h6{
            font-size: 2rem;
        } 
    }
    .home-grid{
        article{
            &:first-child{
                h2{
                    font-size: 2.5rem;
                }
                h3{
                    font-size: 2rem;
                }
            }
            &:last-child{
                picture{
                    max-height: 400px;
                }
                .item{
                    display: none;
                    max-width: 100%;
                    &:first-child,
                    &:nth-child(2){
                        display: flex;
                    }
                    &.enabled{
                        display: flex;
                    }
                }
                #show-more{
                    p{
                        font-size: 2.2rem;
                    }
                    img{
                        width: 20px;
                    }
                }
            }
        }
    }
    .home-effective{
        article{
            &:first-child{
                display: none;
            }
            &:nth-child(2),
            &:nth-child(3),
            &:last-child{
                max-width: 100%;
            }
            &:nth-child(2){
                flex-direction: column;
                gap: 30px;
                .block{
                    &:first-child{
                        width: 80%;
                    }
                    &:last-child{
                        picture{
                            display: flex;
                            justify-content: flex-end;
                            width: 100%;
                        }
                        img{
                            width: 50%;
                        }
                    }
                }
                h2{
                    font-size: 2.4rem;
                    gap: 5px;
                }
                h3{
                    font-size: 1.8rem;
                }
                h4{
                    font-size: 1.7rem;
                }
            }
            &:last-child{
                picture{
                    width: 50%;
                    height: 75vw;
                    top: -55vw;
                    img{
                        width: 40px;
                    }
                }
            }
        }
    }
    .home-team{
        article{
            &:first-child{
                h2{
                    font-size: 2rem;
                }
                h4{
                    font-size: 1.6rem;
                }
                picture{
                    &::before{
                        width: 100%;
                        border-radius: 0;
                    }
                }
            }
            &:last-child{
                height: 100px;
                picture{
                    width: 100px;
                    height: 100px;
                    img{
                        opacity: 1;
                    }
                }
            }
        }
    }
    .home-categories{
        article{
            &:first-child{
                h3{
                    font-size: 2rem;
                }
            }
        }
    }
}

@media(max-width: fun.breakpoints('mobile')){
    .home-planet{
        h5{
            font-size: 1.8rem;
        }
    }
}