@use '../base/functions' as fun;


.detail-project{
    // max-height: calc(100vh - 97px);
    margin: 97px auto 0;
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    // justify-content: center;
    // align-items: center;
    width: 0;
    transition: .5s ease width !important;
    &-body{
        margin: 0 !important;
    }
    &.aos-animate{
        width: 100%;
    }
    iframe{
        min-width: 100vw;
        min-height: 115vh;
    }
}

.detail-project__hero{
    position: relative;
    padding: 60px 0;
    .block{
        gap: 50px;
        display: flex;
        justify-content: space-between;
    }
    .block article{
        &:first-child{
            width: 20%;
            max-width: 200px;
            picture{
                width: 100%;
                display: flex;
                img{
                    width: 100%;
                }
            }
        }
        &:nth-child(2){
            width: 60%;
            p{
                color: fun.color('white');
                font-size: 2.5rem;
                text-transform: uppercase;
            }
            h5{
                font-size: 1.8rem;
                color: fun.color('white');
                margin: 20px 0;
                text-transform: uppercase;
            }
            .item{
                display: flex;
                gap: 20px;
            }
        }
        &:nth-child(3){
            width: 20%;
            max-width: 110px;
            picture{
                width: 100%;
                display: flex;
                img{
                    width: 100%;
                }
            }
        }
    }
    .project-gradient{
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        display: flex;
        justify-content: flex-end;
        picture{
            width: 80%;
            display: flex;
            img{
                width: 100%;
            }
        }
    }
}

.project-line{
    margin-top: -5%;
    pointer-events: none;
}

.text-content{
    width: 100%;
    padding-top: 60px;
    &-title{
        width: 100%;
        border-bottom: 3px solid #fff;
        &-raw{
            max-width: 1550px;
            width: 90%;
            margin: auto;
            padding: 20px 40px;
            position: relative;
            display: flex;
        }
        &-raw_left{
            &::before{
                content: "";
                position: absolute;
                left: -6px;
                height: 100%;
                width: 18px;
                background-image: url('/themes/custom/alerta_theme/sources/dist/assets/img/svg/vertical-line.svg');
                background-repeat: no-repeat;
            }
        }
        &-raw_right{
            flex-direction: row-reverse;
            &::after{
                content: "";
                position: absolute;
                right: -8px;
                height: 100%;
                width: 18px;
                background-image: url('/themes/custom/alerta_theme/sources/dist/assets/img/svg/vertical-line.svg');
                background-repeat: no-repeat;
            }
        }
    }
    &-paragraphs{
        width: 100%;
        &-raw{
            max-width: 1550px;
            width: 90%;
            margin: auto;
            padding: 45px;
            
            span{
                color: #fff;
                font-size: 2.5rem;
                p{
                    font-family: 'signo';
                    font-weight: 300;
                }
            }
            &_left{
                border-left: 3px solid #fff;
            }
            &_right{
                border-right: 3px solid #fff;
                span{
                    text-align: end;
                }
            }
        }

    }
}


@media(max-width: fun.breakpoints('ipad-big')){
    .detail-project{
        max-height: calc(100vh - 60px);
        margin-top: 60px auto 0;
        iframe{
            min-width: 450vw;
            min-height: 450vh;
        }
    }
    .detail-project__hero{
        .block{
            flex-direction: column;
        }
        .block article{
            &:first-child, &:nth-child(2), &:last-child{
                width: 100%;
            }
            &:first-child{
                max-width: 150px;
                margin: auto;
            }
            &:last-child{
                max-width: 90px;
                margin: auto;
                display: none;
            }
        }
    }
    .project-line{
        margin-top: -35% !important;
    }
}

@media(max-width: fun.breakpoints('ipad-big')){
    .text-content-paragraphs-raw span{
        text-align: justify;
        display: block;
    }

    .text-content-title-raw img{
        width: 100%;
        display: block;
        margin: auto;
    }
}