.gradient{
    position: relative;
    article{
        background-image: linear-gradient(#680CFF 10%, #9747FF);
        filter: blur(150px);
        position: absolute;
        // transform: rotate(124.872deg);
        right: 0;
        width: 250px;
        height: 250px;
    }
}