@use '../base/functions' as fun;

.gradient{
    position: relative;
    pointer-events: none;
    article{
        background-image: linear-gradient(#680CFF 10%, #9747FF);
        position: absolute;
        width: 250px;
        height: 250px;
        transform: rotate(124.872deg);
        backdrop-filter: blur(9.645670890808105px);
        filter: blur(66.533779px);
        top: 40vh;
        right: -100px;
    }
    &--big{
        display: flex;
        justify-content: flex-end;
        img{
            width: 80%;
            position: absolute;
            top: -60vh;
        }
    }
}

@media(max-width: fun.breakpoints('ipad-small')){
    .gradient {
        filter: blur(100px);
        article{
            width: 150px;
            height: 150px;
            right: -25px;
            filter: blur(50px);

        }
    }
}