@use '../base/functions' as fun;

.modal{
    position: fixed;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    top: -130vh;
    pointer-events: none;
    transition: 1s ease top;
    &.active{
        pointer-events: all;
        top: 0;
    }
    &__bg{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(0,0,0, .85);
        left: 0;
        top: 0;
    }
    &__content{
        position: relative;
        z-index: 1;
        border: 3px solid #D9D9D9;
        background: rgba(0, 0, 0, 0.70);
        backdrop-filter: blur(8px);
        padding: 60px 30px 0 50px;
        display: flex;
        justify-content: space-between;
        width: 90%;
        max-width: 675px;
        gap: 40px;
    }
    .item{
        &:first-child{
            picture{
                &:first-child{
                    width: 200px;
                    height: 200px;
                    display: block;
                    border-radius: 100%;
                    position: relative;
                    overflow: hidden;
                    border: 2px solid fun.color('white');
                    z-index: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 110%;
                        height: 110%;
                        object-fit: cover;
                    }
                }
                &:nth-child(2){
                    position: absolute;
                    top: 20px;
                    width: 200px;
                    height: 100%;
                    overflow: hidden;
                    border: 2px solid fun.color('white');
                    left: 30px;
                    border-radius: 0 120px 0 0 ;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 110%;
                        height: 110%;
                        object-fit: cover;
                        filter: blur(4px);
                    }
                }
            }
        }
        &:last-child{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h4{
                color: fun.color('secondary');
                font-size: 2.5rem;
            }
            p{
                font-size: 1.6rem;
                color: fun.color('white');
                margin-top: 15px;
            }
            .block{
                display: flex;
                justify-content: flex-end;
                gap: 10px;
                padding: 30px 0;
                picture{
                    width: 100%;
                    max-width: 65px;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
    &__name{
        width: 100%;
        position: relative;
        z-index: 1;
        padding: 7.5px 10px;
        border: 2px solid fun.color('white');
        background-color: fun.color('black');
        width: calc(100% + 72px);
        left: -50px;
        text-align: right;
        margin: 30px 0;
        p{
            color: fun.color('white');
            font-size: 2.5rem;
        }
    }
    &__close{
        position: absolute;
        right: 10px;
        top: 10px;
        transition: .5s ease transform;
        cursor: pointer;
        &:hover{
            transform: rotate(145deg);
        }
        picture{
            width: 60px;
            display: flex;
            img{
                width: 100%;
            }
        }
    }
}

@media(max-width: fun.breakpoints('ipad-small')){
    .modal{
        &__content{
            flex-direction: column;
            padding: 0;
        }
        &__name{
            width: 100%;
            left: 0;
            border-right: none;
            border-left: none;
            text-align: center;
            p{
                font-size: 1.8rem;
            }
        }
        .item{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            &:first-child{
                position: relative;
                padding-top: 20px;
                picture{
                    &:first-child{
                        width: 115px;
                        height: 115px;
                    }
                    &:nth-child(2){
                        border-right: none;
                        border-left: none;
                        left: 0;
                        top: 0;
                        width: 100%;
                    }
                }
            }
            &:last-child{
                padding: 0 20px;
                h4{
                    font-size: 1.8rem;
                }
                p{
                    font-size: 1.5rem;
                }
                .block{
                    picture{
                        width: 40px;
                    }
                }
            }
        }
        &__close{
            top: 0;
            right: 0;
            picture{
                width: 40px;
            }
        }
    }
}
