@use '../base/functions' as fun;

body::-webkit-scrollbar{
    width: 0 !important;
    opacity: 0;
    z-index: -1;
    background-color: transparent;
    width: 10px;
}
body{
    overflow-x: hidden;
    .dialog-off-canvas-main-canvas{
        width: 100%;
    }
}

.home-grid .content,
.home-team article:nth-child(2){
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    
    &::-webkit-scrollbar:vertical {
        width:15px;
    }
    
    &::-webkit-scrollbar-button:increment,&::-webkit-scrollbar-button {
        display: none;
    } 
    
    &::-webkit-scrollbar:horizontal {
        height: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: fun.color('tertiary');
        border-radius: 20px;
        border: 5px solid fun.color('black');
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px; 
    }  
}

.home-team article:nth-child(2){
    &::-webkit-scrollbar-thumb {
        background-color: fun.color('tertiary');
        border-radius: 20px;
        border: 5px solid fun.color('primary');
    }
}

