@use '../base/functions' as fun;

.home{
    &.aos-animate{
        article:last-child{
            h3:last-child{
                span{
                    color: fun.color('black');
                }
                &::before{
                    width: 110%;
                }
            }
        }
    }
}

.home-certified{
    opacity: 0;
    transition: .5s ease opacity;
    transition-delay: 1s;
    &.aos-animate{
        opacity: 1;
    }
}

.home-line{
    opacity: 0;
    &.aos-animate{
        opacity: 1;
        #pathHome1,
        #pathHome2,
        #pathHome3 {
            stroke-dasharray: 3000;
            stroke-dashoffset: 3000;
            animation: draw 1s linear forwards;
            animation-delay: .5s;
        }
        #pathHome3{
            animation-delay: 0.000001s !important;
        }
    }
}

.home-alert .personality-animation{
    &:first-child{
        transform: scale(0);
        transition: 1s ease transform;
        &::before{
            opacity: 0;
            transition: 1s ease opacity;
            transition-delay: 1s;
        }
    }
    h4{
        background-color: transparent;
        transition: .5s ease background-color;
        &::before,
        &::after{
            width: 0;
            transition: .5s ease width;
            transition: 1s ease all;

        }
        .lines::before,
        .lines::after{
            height: 0;
            transition: .5s ease height;
            transition: 1s ease all;
        }
        .line-point{
            &::before, 
            &::after,
            b::before,
            b::after{
                width: 0;
                transition: 1s ease all;
                transition-delay: .5s;
            }
            &::after{
                width: 0;
            }
            b{
                &::before{
                    height: 0;
                }
                &::after{
                    width: 0;
                    height: 0;
                }
            }
        }
    }
    &.aos-animate{
        &:first-child{
            transform: scale(1);
            &::before{
                opacity: 1;
            }
        }
        h4{
            background-color: fun.color('black');
            &::before,
            &::after{
                width: 100%;
            }
            .lines::before,
            .lines::after{
                height: 100%;
            }
            .line-point{
                &::before, 
                &::after,
                b::before,
                b::after{
                    width: 10vw;
                }
                &::after{
                    width: 5vw;
                }
                b{
                    &::before{
                        height: 7vw;
                        width: 2px;
                    }
                    &::after{
                        width: .5vw;
                        height: .5vw;
                    }
                }
            }
        }
    }
}

.home-limitless{
    .personality-animation{
        h6{
            &:last-child{
                &::before{
                    transition: .5s ease width;
                    transition-delay: .6s;
                    width: 0;
                }
            }
        }
        &.aos-animate{
            h6{
                &:last-child{
                    &::before{
                        width: 100%;
                    }
                }
            }
        }
    }
}

.home-planet {
    article{
        &:first-child{
            #canvas-hero{
                transform: scale(0);
                transition: 1s ease transform;
                border-radius: 50%;
            }
            &.aos-animate{
                #canvas-hero{
                    transform: scale(1);
                }
            }
        }
    }
}

.home-grid{
    article{
        &:last-child{
            .item{
                opacity: 0;
                transform: translateY(100px);
            }
            &.aos-animate{
                .item{
                    animation: fade-up 1s ease 1 forwards var(--index);
                }
            }
        }
    }
}

.home-effective{
    article{
        &:first-child{
            em{
                &::before{
                    height: 0;
                    transition: .5s ease height;
                    transition-delay: .5s;
                }
                &::after{
                    width: 0;
                    transition: .5s ease width;
                    transition-delay: .7s;
                }
                b{
                    opacity: 0;
                    transition: .5s ease opacity;
                    transition-delay: 1s;

                }
                &.aos-animate{
                    &::before{
                        height: 10vw;
                    }
                    &::after{
                        width: 6vw;
                    }
                    b{
                        opacity: 1;
                    }
                }
            }
        }
        &:nth-child(2){
            .block{
                &:last-child{
                        opacity: 0;
                        transform: translatex(100px);
                    &.aos-animate{
                        animation: fade-right .5s ease forwards;
                        animation-delay: .5s;
                    }
                }
            }
        }
        &:nth-child(3){
            border-color: transparent;
            transition: .5s ease all;
            transition-delay: .6s;
            .item{
                opacity: 0;
                transform: translatex(100px);
            }
            &.aos-animate{
                border-color: fun.color('white');
                .item{
                    animation: fade-right .5s ease forwards;
                    animation-delay: var(--index);
                }
            }
        }
 
    }
}

.home-team{
    article{
        &:first-child{
            picture{
                img{
                    transform: translateX(100px);
                    opacity: 0;
                    transition: .5s ease all;
                    transition-delay: .25s;
                }
                &::before{
                    width: 0;
                    transition: .5s ease width;
                    transition-delay: .5s;
                }
            }
            em{
                opacity: 0;
                transition: .5s ease opacity;
            }
            &.aos-animate{
                picture{
                    img{
                        opacity: 1;
                        transform: translate(0);
                    }
                    &::before{
                        width: 90%;
                    }
                }
                em{
                    opacity: 1;
                }
            }
        }
        &:nth-child(2){
            picture{
                opacity: 0;
                transition: .5s ease opacity;
                transition-delay: var(--index);
                &:last-child{
                    transition-delay: 1s !important;
                }
            }
            &.aos-animate{
                picture{
                    opacity: 1;
                }
            }
        }
    }
}

.home-categories{
    article{
        &:first-child{
            &::before,
            &::after{
                width: 0;
                transition: .5s ease width;
            }
            &.aos-animate{
                &::before,
                &::after{
                    width: 100%;
                }
            }
        }
        &:nth-child(2){
            picture{
                opacity: 0;
                transform: translatey(100px);
            }
            &.aos-animate{
                picture{
                    animation: fade-up .5s ease forwards;
                    animation-delay: var(--index);
                }
            }
        }
        &:last-child{
            &::before{
                width: 0;
                transition: .5s ease width;
                transition-delay: .35s;
            }
            .item{
                opacity: 0;
                transform: translatey(100px);
            }
            &.aos-animate{
                &::before{
                    width: 100%;
                }
                .item{
                    animation: fade-up .5s ease forwards;
                    animation-delay: var(--index);
                }
            }
        }
    }
}

@keyframes fade-up{
    from{
        opacity: 0;
        transform: translatey(100px);
    }
    to{
        opacity: 1;
        transform: translatey(0);
    }
}

@keyframes fade-right{
    from{
        opacity: 0;
        transform: translatex(100px);
    }
    to{
        opacity: 1;
        transform: translatex(0);
    }
}

@keyframes show-opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}